.links .h4 {
    font-family: 'Bebas Neue', cursive;
}

.people-title{
    font-family: 'Bebas Neue', cursive;
}

.bebas {
    font-family: 'Bebas Neue', cursive;
}

.letter-ratio{
    --bs-aspect-ratio: 80%;
}
